body::before {
  display: block;
  content: "";
  /* height: 50px; */
  /* padding-top: 40px; */
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

#map {
  width: 100%;
  border-radius: 15px;
}

.logo {
  width: 35%;
  /* height: auto; */
}

.navbar {
  font-family: "Lato", sans-serif !important;
  font-weight: 700;
  font-style: normal;
}

.navbar-brand {
  max-width: 50%;
}

.nav-link {
  font-size: 125%;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.img {
  max-width: 25%;
}

.address {
  text-decoration: none;
  color: black;
}
